	@font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

	@font-face {
    font-family: 'MapoHongdaeFreedom';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoHongdaeFreedomA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

	@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

		@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
	
		html{
			font-family: "SUIT-Regular";
			font-size:1rem; line-height: 1.5;
			--main-color: #E92626;
			--sub-color: lightyellow;
			word-break: keep-all;
			scroll-behavior: smooth;
		}

		body,h1,h2,h3,h4,h5,p,ul{margin: 0; padding: 0;}
		h1,h2,h3{line-height: 1.3;}
		h1{font-family: SejonghospitalBold; font-size: 5rem;}
		h2{font-family:SejonghospitalBold; font-size: 3rem; line-height: 70px; margin: 10px 0px;}
		h3{font-family: SejonghospitalBold; font-size: 4rem;
			padding: 0px 0px;}
		h4{font-size: 1.3rem;
			margin: 5px 0px;}
		h5{font-size: 1.6rem; margin: 25px 0px;}
		p{font-size: 1rem; line-height: 28px;}
		.t-small{font-size: 0.8rem; line-height: 24px;}

		.wrap{
			width: 800px; margin: auto; display: table;
		}
		.flex{
			display: flex; justify-content: space-around;}
		.flex-nav{display: flex; justify-content: space-between;
			align-items: center}
		.blank{height: 200px;}
		.blank-nav{height: 138px;}
		.blank-s{height: 50px;}
		.fix{position: fixed; top:0; left:0; right:0; z-index: 5}

		.w600{width: 600px;}
		.h600{height: 600px;}
		.h500{height: 500px;}
		.h400{height: 400px;}
		.h300{height: 300px;}
		.f60{width:60%; padding:20px;}
		.f50{width:50%; padding:20px;}
		.f40{width:40%; padding:20px;}
		.f33{width:33%; padding:20px;}
		.f30{width:30%; padding:20px;}
		.f25{width:25%; padding:20px;}
		.p10{padding: 10px 0px;}
		.v-center{display: table-cell; vertical-align: middle;}
		.top-padding{padding-top: 20px;}
		.top-padding2{padding-top: 40px;}

		.full-img{width:100%}
		.text-center{text-align: center;}
		.text-right{text-align: right;}

		.t-white{color:white;}
		.t-main{color:var(--main-color);}

		.bg-header{
			background: url(../source/header_coffee5.gif);
			background-size:100%;
			object-fit: cover; overflow:hidden;
			background-attachment: fixed;
		}
		.bg-main{background: var(--main-color);}
		.bg-sub{background: var(--sub-color);}
		.bg-black{background: black;}
		.bg-coffee{
			position: relative;
			background: url(../source/bg_coffee.jpg);
			background-size:100%;
			object-fit: cover; overflow:hidden;
		}
		.bg-flavor1{
			position: relative;
			background: url(../source/flavor_1_bg_w.jpg);
			background-size:100%;
			object-fit: cover; overflow:hidden;
		}
		.bg-flavor2{
			background: url(../source/flavor_2_bg_w.jpg);
			background-size:100%;
			object-fit: cover; overflow:hidden;
		}
		.bg-flavor3{
			background: url(../source/flavor_3_bg_w.jpg);
			background-size:100%;
			object-fit: cover; overflow:hidden;
		}

		.bullet{
			position: fixed; top:35%; left:5%;
			height:400px;
			display: flex; z-index: 5;
			flex-direction: column; align-items: center;
		}
		.bullet a{
			text-decoration: none;
			font-family: KCC-eunyoung; font-size: 1.5rem;
			color: var(--main-color); text-shadow: 0px 0px 10px white;
			text-align: left;
			padding: 50px 0px;
		}
		.bullet a:hover{
			color: var(--main-color);
		}

		nav{padding: 25px 0px;}
		nav ul li{
			list-style: none; margin:10px;
			letter-spacing: 0.1rem;
		}
		nav ul li:hover{
			color: var(--main-color);
		}
		nav .flex{ justify-content: center;}
		.nav-f2{width: 20%}
		.nav-f6{width: 60%}

		header div a{
			text-align: center;
			color: var(--main-color); text-decoration: none;
			padding: 10px 40px;
			border: 1px solid white;
			border-radius: 10px;
			position: absolute; top:65%; left:46%;
		}
		header div a:hover{
			color: rgba(0,0,0,0);
			background: white;
			color: var(--main-color);
			transition: 0.5s;
		}
		.moving-text{
			animation: moving-text 1s ;
		}
		@keyframes moving-text{
			from{padding-left: 50px;}
			to{padding-left: 0px;}
		}
		.moving-text2{
			animation: moving-text 2s;
		}
		@keyframes moving-text2{
			from{padding-left: 100px;}
			to{padding-left: 0px;}
		}

		.img-history{
			display: block; margin: 0;
			width: 360px; height: 300px;
			object-fit: cover;
		}

		.img-slide input[id*='slide']{display: none;}
		.img-slide .slide-wrap{
			max-width: 800px;
			margin: auto;
			overflow: hidden;
		}
		.img-slide .slide-li{
			white-space: nowrap; font-size: 0;
		}
		.img-slide .slide-li li{
			display: inline-block; vertical-align: middle;
			width:100%; transition:all .5s;
		}
		.img-slide .slide-li li a{
			display: block; position: relative;
		}
		.img-slide .slide-li li a img{
			width:100%;
		}
		.img-slide .slide-li label{
			position: absolute; z-index: 4;
			top:50%; 
			transform: translateY(-50%);
			padding: 50px; cursor: pointer;
		}
		.img-slide .slide-li .slide-left{
			left: 30px;
			background: url('../source/slide_left.png') center center / 100%;
		}
		.img-slide .slide-li .slide-right{
			right: 30px;
			background: url('../source/slide_right.png') center center / 100%;
		}
		.img-slide [id='slide1']:checked ~ .slide-wrap .slide-li li {transform: translateX(0%);}
		.img-slide [id='slide2']:checked ~ .slide-wrap .slide-li li {transform: translateX(-100%);}
		.img-slide [id='slide3']:checked ~ .slide-wrap .slide-li li {transform: translateX(-200%);}
		.img-slide [id='slide4']:checked ~ .slide-wrap .slide-li li {transform: translateX(-300%);}
		.img-slide [id='slide5']:checked ~ .slide-wrap .slide-li li {transform: translateX(-400%);}
		.img-slide [id='slide6']:checked ~ .slide-wrap .slide-li li {transform: translateX(-500%);}

		.img-flavor{width:294px; height:248px;}

		.img-shop{
			margin: auto;
			width:238px; height:238px; object-fit: cover;
			display: inline-block; text-align: center;
		}

		#shops a{
			text-align: center;
			color: black; text-decoration: none;
			padding: 10px 40px; margin: 30px 0px;
			border: 1px solid black;
			border-radius: 10px;
		}
		#shops a:hover{
			color: rgba(0,0,0,0);
			background: var(--main-color);
			color: black;
			border: 1px solid var(--main-color);
		}

		footer{background: black; color: white; padding: 20px 0px;}
		footer ul li{list-style: none;}


